@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}
img{
    width: 100vw;
}
a{
    text-align: center;
    padding: 10px;
    display: block;
    background-color: darkred;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    background-color: red;
}